/* line 1, app/assets/stylesheets/admin/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 10, app/assets/stylesheets/admin/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 16, app/assets/stylesheets/admin/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 22, app/assets/stylesheets/admin/scaffolds.scss */
a {
  color: #000;
}

/* line 25, app/assets/stylesheets/admin/scaffolds.scss */
a:visited {
  color: #666;
}

/* line 29, app/assets/stylesheets/admin/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 35, app/assets/stylesheets/admin/scaffolds.scss */
th {
  padding-bottom: 5px;
}

/* line 39, app/assets/stylesheets/admin/scaffolds.scss */
td {
  padding: 0 5px 7px;
}

/* line 44, app/assets/stylesheets/admin/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 49, app/assets/stylesheets/admin/scaffolds.scss */
#notice {
  color: green;
}

/* line 53, app/assets/stylesheets/admin/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 59, app/assets/stylesheets/admin/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

/* line 66, app/assets/stylesheets/admin/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff;
}

/* line 76, app/assets/stylesheets/admin/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 82, app/assets/stylesheets/admin/scaffolds.scss */
label {
  display: block;
}
/* line 1, app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 10, app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 16, app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 22, app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}

/* line 25, app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}

/* line 29, app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 35, app/assets/stylesheets/scaffolds.scss */
th {
  padding-bottom: 5px;
}

/* line 39, app/assets/stylesheets/scaffolds.scss */
td {
  padding: 0 5px 7px;
}

/* line 44, app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 49, app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 53, app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 59, app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

/* line 66, app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff;
}

/* line 76, app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 82, app/assets/stylesheets/scaffolds.scss */
label {
  display: block;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 * 如果想使用多个 Sass 文件，应该使用 Sass 中的 @import 规则，不要使用 Sprockets 指令。如果使用 Sprockets 指令，
 * Sass 文件只出现在各自的作用域中，Sass 变量和混入只在定义所在文件中有效。为了达到 require_tree 指令的效果，可以使用通配符，
 * require_tree . 是把当前目录下所有的css文件(不包含.scss等非.css格式的文件，是因为在config/manifest配置了格式)都引入进来。
 *
 *


 */

